/*#########################################*/
/* AF- Auto Populate Properties Stylesheet */
/*#########################################*/
/* UMB-TAB-NAV */
.afapp-umb-tabs-nav {
}
.afapp-umb-tabs-nav .umb-tabs-nav {
    margin: 0;
}
.afapp-umb-tabs-nav .umb-tabs-nav .umb-tab {
    border: 1px solid #e9e9eb;
    background-color: #fff !important;
}
.afapp-umb-tabs-nav .umb-tab--active {
    border-bottom: 1px solid #fff !important;
}

/* UMB-TAB-CONTENT */
.afapp-umb-tabs-content {
}
.afapp-umb-tabs-content > .umb-box {
    border-top: none !important;
    border-left: 1px solid #e9e9eb !important;
    border-right: 1px solid #e9e9eb !important;
    border-bottom: 1px solid #e9e9eb !important;
}
.afapp-umb-tabs-content .custom-tab-content {
    border-right: 1px solid #e9e9eb;
    border-bottom: 1px solid #e9e9eb;
    border-left: 1px solid #e9e9eb;
    background-color: #fff !important;
    padding: 15px;
}
.afapp-umb-tabs-content > .custom-tab-content > .umb-box {
    border: none !important;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.afapp-umb-tabs-content .custom-tab-content .custom-tab-header {
    border-bottom: none !important;
    padding-bottom: 0 !important;
}
.afapp-umb-tabs-content .custom-tab-content .custom-umb-box-content {
    padding-bottom: 0 !important;
}